@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.app {
  background: #15191c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__body {
  display: flex;
  max-width: 1200px;
  margin: 0 20px;
  margin-top: 17px;
}
