.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #8d99ae00;
}

.inputOption:hover {
  filter: brightness(110%);
}

.inputOption > h4 {
  margin-left: 5px;
}
